<launch>
	<arg name="frame_id" default="origin" />
	<arg name="child_frame_id" default="map" />

	<node pkg="rtkgps_odom_matcher" type="matcher_node" name="matcher_node" output="screen">
		<param name="frame_id" value="$(arg frame_id)" />
		<param name="child_frame_id" value="$(arg child_frame_id)" />
        <remap from="odometry/wheel" to="odom" />
        <remap from="nmea/gpgga" to="reach/nmea/gpgga" />
	</node>
</launch>
