<launch>
	<node pkg="rtkgps_odom_matcher" type="matcher_node" name="matcher_node" output="screen">
		<rosparam command="load" file="$(find rtkgps_odom_matcher)/params/matcher.yaml" />
        <remap from="odometry/wheel" to="odom" />
        <remap from="nmea/gpgga" to="reach/nmea/gpgga" />
	</node>
</launch>
